<div id="<%= dom_id idproof %>">
  <p>
    <strong>Document:</strong>
    <%= idproof.document %>
  </p>

  <p>
    <strong>Doctype:</strong>
    <%= idproof.doctype %>
  </p>

  <%# <p> %>
    <%# <strong>Status:</strong> %>
    <%#= idproof.status %>
  <%# </p> %>

</div>
